<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.aod.feed.dao.PanelDialMapper">

    <!--新增外拨记录-->
    <insert id="insertPanelDials" parameterType="java.util.List">
        insert into crm_panel_dial
        (id,service_id,panel_id,phone,result_code,create_id,create_time,update_id,update_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER},
            #{item.serviceId,jdbcType=VARCHAR},
            #{item.panelId,jdbcType=INTEGER},
            #{item.phone,jdbcType=VARCHAR},
            #{item.resultCode,jdbcType=VARCHAR},
            #{item.createId,jdbcType=INTEGER},#{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateId,jdbcType=INTEGER},#{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>